<div class="row">

  <div class="panel-group" id="accordion">
        <div class="panel panel-default panel-info">
          <div class="panel-heading">
            <div class="row">
            <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse11">
            <div class="col-sm-3">          
            <%= image_tag('email.png',size:'24') %> <strong> Orientador </strong> 
            </div>
            <div class="col-sm-7">
             <strong>RE: Datos actualizados ficha alumnos  </strong>
            </div>
            <div class="col-sm-2 ">
            24/11/2016 12:33 
            </div></a>
            </h4>
            </div>
          </div>
          <div id="collapse11" class="panel-collapse collapse in">
            <div class="panel-body">
              <p> Tenemos todos los datos actualizados de las fichas de alumnos, ultimas notas, incidencias, seguimiento, etc. Da una visión de conjunto a partir de los datos individuales que manejamos cada uno. </p>

            </div>
          </div>
        </div>
        
        <div class="panel panel-default panel-info">
          <div class="panel-heading">
                  <div class="row">
            <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse12">
            <div class="col-sm-3">          
            <%= image_tag('email.png',size:'24') %> <strong> Alumno </strong> 
            </div>
            <div class="col-sm-7">
             <strong> Revisión de examen  </strong>
            </div>
            <div class="col-sm-2 ">
            23/11/2016 17:40 
            </div></a>
            </h4>
            </div>
          </div>
          <div id="collapse12" class="panel-collapse collapse">
            <div class="panel-body">
              <p> Hola profe, me gustaría poder ver el examén con usted para que me guie un poco en las cosas que necesito mejorar, esperaba una nota mejor y no se en que he podido equivocarme. Poder ver el examen me ayudará. </p>
            </div>
          </div>
        </div>

        <div class="panel panel-default panel-info">
          <div class="panel-heading">
            <div class="row">
            <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse13">
            <div class="col-sm-3">          
            <%= image_tag('email.png',size:'24') %> <strong> Madre </strong> 
            </div>
            <div class="col-sm-7">
             <strong> Ejercicios extra  </strong>
            </div>
            <div class="col-sm-2 ">
            20/11/2016 18:21 
            </div></a>
            </h4>
            </div>

          </div>
          <div id="collapse13" class="panel-collapse collapse ">
            <div class="panel-body">
            <p> Mi hija necesita guardar reposo domiciliario y no podrá asistir a clase en los próximos días. Me pide que le solicite ejercicios extra para estos días para no quedarse rzagada de la clase </p>
            
            </div>
          </div>
        </div>

        
        </div>

      </div>

      

  </div>
