<div class="row">

  <div class="panel-group" id="accordion">
        <div class="panel panel-default panel-info">
          <div class="panel-heading">
            <div class="row">
            <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse11">
            <div class="col-sm-3">          
            <%= image_tag('email.png',size:'24') %> <strong>José García </strong> 
            </div>
            <div class="col-sm-7">
             <strong>RV: Nuevos horarios  </strong>
            </div>
            <div class="col-sm-2 ">
            25/11/2016 12:33 
            </div></a>
            </h4>
            </div>
          </div>
          <div id="collapse11" class="panel-collapse collapse in">
            <div class="panel-body">
              <p> Gracias por enviarme los nuevos horarios, me hacía mucha falta esa información para poder planificar correctamente las nuevas actividades.</p>

            </div>
          </div>
        </div>
        
        <div class="panel panel-default panel-info">
          <div class="panel-heading">
                  <div class="row">
            <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse12">
            <div class="col-sm-3">          
            <%= image_tag('email.png',size:'24') %> <strong> Docente </strong> 
            </div>
            <div class="col-sm-7">
             <strong>RV: RV: Tutoría  </strong>
            </div>
            <div class="col-sm-2 ">
            23/11/2016 13:40 
            </div></a>
            </h4>
            </div>
          </div>
          <div id="collapse12" class="panel-collapse collapse">
            <div class="panel-body">
              <p> La tutoría ha sido un exitó. El alumno ha salido reforzado y motivado, creo que si seguimos apoyandole de este modo conseguirá mejorar sus notas. </p>
          
            </div>
          </div>
        </div>

        <div class="panel panel-default panel-info">
          <div class="panel-heading">
            <div class="row">
            <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse13">
            <div class="col-sm-3">          
            <%= image_tag('email.png',size:'24') %> <strong> Alumno </strong> 
            </div>
            <div class="col-sm-7">
             <strong> Tutoría para la próxima semana  </strong>
            </div>
            <div class="col-sm-2 ">
            23/11/2016 13:20 
            </div></a>
            </h4>
            </div>

          </div>
          <div id="collapse13" class="panel-collapse collapse ">
            <div class="panel-body">
            <p>Hola, hay algunos temas que me tienen preocupada y a lo mejor tu me puedes ayudar. Hay algunas dudas que creo que me podrías resolver si nos vemos.   </p>
            
            </div>
          </div>
        </div>

        
        </div>

      </div>

      

  </div>
