<div class="row">

  <div class="panel-group" id="accordion">
        <div class="panel panel-default panel-info">
          <div class="panel-heading">
            <div class="row">
            <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse11">
            <div class="col-sm-3">          
            <%= image_tag('email.png',size:'24') %> <strong> Docente </strong> 
            </div>
            <div class="col-sm-7">
             <strong> Notas </strong>
            </div>
            <div class="col-sm-2 ">
            24/11/2016 12:33 
            </div></a>
            </h4>
            </div>
          </div>
          <div id="collapse11" class="panel-collapse collapse in">
            <div class="panel-body">
              <p> Buenos días, Le adjunto los ejercicions que me pidió. Espero que se recupere pronto. </p>

            </div>
          </div>
        </div>
        
        
        </div>

      </div>

      

  </div>
