<div class="jumbotron">

	<article>
	<div class="row center">
	<h2> <%= image_tag('lighthouse.png',size:'40') %> ACTIVIDAD 2 </h2> 
	</div>
	<h2>  LA ELECCIÓN DE DELEGADO </h2>
	<h3>Sesión con el tutor</h3>
	<p>Inicio y presentación del grupo-clase (1 sesión)</p>
	<p>Se supone que los alumnos ya han entablado interrelaciones personales formales e informales, que han permitido consolidar el grupo de clase.  Se debe aprovechar esta sesión para formar a los alumnos para que puedan elegir responsablemente  a alguien que les represente en el instituto. </p>
	<h3>Objetivos</h3>
	<ol>
		<li> Elegir de forma responsable la persona que le represente en el instituto.</li>
		<li> Promover la educación en valores democráticos y participación en el centro.</li>
		<li> Explicar las funciones de delegado y de grupo y la dinámica que habrá que seguir en su elección.</li>
	</ol>

	<h3>Desarrollo de la sesión</h3>
	<ol>
		<li> Explicar la importancia de la ventaja para la clase de tener un Delegado de Grupo para fomentar la Motivación en el proceso.</li>
		<li>Información por parte del tutor/a sobre la normativa que regula el proceso de elección de Delegado y la importancia de hacerlo con responsabilidad.</li>
		<li>En las elecciones se elegirá a un Delegado, a un subdelegado que le sustituya, y para el acto se elegirá una mesa electoral compuesta por el Profesor Tutor y dos alumnos. El quorum exigible será la mayoría simple (la mitad más uno).</li>
		<li>La votación será nominal y secreta. Será por orden de lista y depositarán su voto en la urna. Se repetirá si no se llega a la mayoría simple, eligiendo al que tenga más votos como delegado y el siguiente como subdelegado.</li>
		<li>Se presentan los posibles candidatos y explican los motivos por los que se presentan.</li>
		<li>Elección de delegado, se constituye la mesa electoral y cada alumnos escribe en su papeleta un nombre y la mesa electoral procede al recuento de  votos.</li>
		<li>Se anuncia el recuento de votos y se registra un acta.</li>
	</ol>

	<h3>Material </h3>
	<ol>
		<li>Hoja de trabajo.</li>
		<li>Funciones de los delegados. </li>
		<li>Papeleta. </li>
		<li>Acta.</li>
		<li>Ficha para pensar.</li>
	</ol>

	<h3>Ficha para pensar y rellenar por cada alumno </h3>
	<ol>
		<li>Características de un buen delegado.</li>
		<li>Tareas que debe realizar el delegado. </li>
		<li>Compañeros que consideras buenos candidatos.</li>
	</ol>
	</article>
</div>