<div class="jumbotron">

	<article>
	<div class="row center">
	<h2> <%= image_tag('lighthouse.png',size:'40') %> ACTIVIDAD 1</h2> 
	</div>
	<h2> ACOGIDA PARA EL ALUMNADO DE 1º E.S.O.  ¿QUIÉN SOY?</h2>
	<h3>Sesión con el tutor</h3>
	<p>Inicio y presentación del grupo-clase (1 sesión)</p>
	<h3>Objetivos</h3>
	<ol>
		<li> Qué el alumno conozca al tutor que en ese momento representa al grupo de profesores y los compañeros nuevos con los que tiene que convivir muchas horas a lo largo del curso y etapa educativa.</li>
		<li> Oportunidad para dar información sobre el Instituto, datos que considere importantes sobre el funcionamiento del centro. Normas de convivencia, cuidado de instalaciones, figura del tutor y explicación de la hora de tutoría.</li>
		<li> Explorar preferencias del alumnado sobre temas de tutoría.</li>
	</ol>

	<h3>Desarrollo de la actividad</h3>
	<ol>
		<li> Se inicia la sesión con una presentación del alumnado y se reparten las fichas.</li>
		<li> El  alumno rellena la ficha.</li>
		<li> Se reparten las fichas al azar y cada uno lee las características del compañero que le ha tocado. Los demás deben adivinar de quien se trata.</li>
	</ol>

	<h3>Material </h3>
	<p>Ficha actividad.</p>

	<h3>Ficha actividad: ¿Quién soy?</h3>
	<ul>
		<li>1º PISTA: Mi comida favorita es:</li>
		<li>2º PISTA: Lo que más admiro de una persona es:</li>
		<li>3º PISTA: Mi color favorito es:</li>
		<li>4º PISTA: En mi tiempo libre lo que me gusta es:</li>
		<li>5º PISTA: Mi deportista favorito es:</li>
		<li>6º PISTA: Lo que me gustaría cambiar del mundo es:</li>
		<li>7º PISTA: Mi personaje favorito es:</li>
		<li>8º PISTA: La música que me gusta es:</li>
		<li>9º PISTA: La asignatura que más me gusta es:</li>
		<li>10º  PISTA: La profesión que más me gusta es:</li>
	</ul>
	</article>
</div>