<div class="jumbotron">

	<article>
	<div class="row center">
	<h2> <%= image_tag('lighthouse.png',size:'40') %> ACTIVIDAD 3 </h2> 
	</div>
	<h2>  IMPORTANCIA DE LA CONVIVENCIA  GRUPAL. ¿TÚ QUÉ HARÍAS? </h2>
	<h3>Sesión con el tutor</h3>
	<p>Inicio y presentación del grupo-clase (1 sesión)</p>
	<h3>Objetivos</h3>
	<ol>
		<li>Contribuir al desarrollo de los alumnos como personas en sociedad.</li>
		<li>Potenciar la capacidad de decisión y asertividad.</li>
		<li>Desarrollar la capacidad de expresión oral y discusión.</li>
		<li>Reflexionar sobre situaciones de la vida diaria en la que o bien es difícil saber cómo actuar correctamente o se sabe cómo actuar, pero es difícil hacer las cosas como se piensan.</li>
	</ol>

	<h3>Desarrollo de la sesión</h3>
	<p>El tutor realiza una introducción sobre las diferentes formas que tenemos para resolver situaciones. Se le da una hoja a cada uno para realizar la actividad de forma individual y después ponerlo en común.</p>

	<h3>Material </h3>
	<p>Hoja de trabajo.</p>

	<h3>Ficha </h3>
	<p>Ante las situaciones que se exponen a continuación… <em>¿Tú qué harías?</em></p>
	<ol>
		<li>Estamos en una excusión. Después de comer hay un montón de desperdicios, papeles, plásticos… ¿Tu qué harías?
		<li>Después de comer en una excursión el profesor indica que hay que limpiar la zona. Varios compañeros estáis recogiendo los restos que quedaron por el suelo pero algunos se hacen los remolones riéndose y haciendo burlas a los que trabajáis ¿Tú qué harías?</li>
		<li>Estás en clase. Tienes que realizar una tarea que te ha pedido el profesor pero no te concentras porque un grupo de compañeros están molestando y alborotando… ¿Tú qué harías?</li>
		<li>Vais por la calle un grupo de amigos, os cruzáis con una persona que tiene un defecto físico. Uno de tus amigos empieza a hacer chistes y a burlarse imitando su defecto. ..¿Tú qué harías?	</li>
		<li>Estás en el recreo. Un compañero no tiene bocadillo porque se le hizo tarde y vino sin desayunar… ¿Tú qué harías?</li>
		<li>Estás en el recreo. Hay un amigo que todos los días te pide parte de tu bocadillo y hace lo mismo con otros compañeros y compañeras. ¿Tú qué harías?</li>
		<li>Llega un alumno nuevo a clase y nadie quiere jugar con él… ¿Tú qué harías?
		<li>Ves que en el patio están pegando a un compañero… ¿Tú qué harías?</li>
		<li>Unos amigos se han empeñado en que pruebes el tabaco y te ofrecen insistentemente un cigarrillo. A ti no te gusta ni te apetece fumar, pero ellos insisten… ¿Tú qué harías?</li>
		<li>Estás en clase. Tienes que realizar una tarea que te ha pedido el profesor pero no te concentras porque un grupo de compañeros están molestando y alborotando… ¿Tú qué harías?</li>

	</ol>
	<p>Posteriormente se recoge las conclusiones de cada actividad invitando a la reflexión de lo más conveniente en cada actuación.</p>	
	</article>
</div>