<div class="jumbotron">

	<article>
	<div class="row center">
	<h2> <%= image_tag('lighthouse.png',size:'40') %> ACTIVIDAD 4 </h2> 
	</div>
	<h2>  HÁBITOS  DE ESTUDIO. “ASÍ ESTUDIO”. </h2>
	<h3>Sesión con el tutor</h3>
	<p>Inicio y presentación del grupo-clase (1 sesión)</p>
	<h3>Objetivos</h3>
	<ol>
		<li>Revisar los aspectos esenciales que requiere la actividad intelectual.</li>
		<li>Determinar las condiciones mejores para el estudio.</li>
		<li>Realizar propuestas para la planificación del estudio.</li>
		<li>Valorar los aspectos motivaciones para la mejora del rendimiento académico.</li>
	</ol>

	<h3>Desarrollo de la sesión</h3>
	<ol>
		<li>El tutor/a comenta los objetivos de la actividad.</li>
		<li>A continuación, se entrega el cuestionario. El tutor/a si así lo cree conveniente puede ir leyendo cada ítem aclarando dudas.</li>
		<li>Se realiza la corrección del cuestionario y cada alumno analiza los aspectos menos favorables para diseñar un plan de acción.</li>
		<li>Cada alumno escribirá en su cuaderno que aspectos debe mejorar.</li>
		<li>Puesta en común del grupo para aclarar conceptos y conocer las estrategias que usan los alumnos para el estudio.</li>
		<li>Realizar una planificación semanal.</li>
		<li>Revisar la planificación con padres y tutor periódicamente.</li>
	</ol>

	<h3>Material </h3>
	<p> “Así estudio”  Hoja de trabajo para el alumno. </p>

	<h3>Ficha del alumno </h3>
	<p> El estudio es una tarea compleja que requiere tener en cuenta muchos aspectos, en este cuestionario encontrarás muchos de ellos y debes reflexionar sobre la forma en que actualmente realizas el estudio.</p>


	<h3>Condiciones  ambientales </h3> 
	<ol>
		<li>Estudias en una habitación tranquila, sin ruidos.</li>
		<li>El estudio lo realizas siempre en el mismo lugar.</li>
		<li>En tu mesa de estudio cabe todo el material que necesitas.</li>
		<li>El lugar donde estudias tiene una buena temperatura, iluminación y ventilación.</li>
		<li>Utilizas una silla con respaldo y asientos duros.</li>
	</ol>

	<h3>Motivación </h3> 
	<ol>
		<li>Te gusta estudiar para ampliar tus conocimientos.</li>
		<li>El estudio te resulta muy gratificante.</li>
		<li>Te resulta fácil estar un buen rato estudiando.</li>
		<li>El esfuerzo que realizo me servirá para mi fututo profesional.</li>
		<li>Me interesa mucho lo que los profesores exponen en clase.</li>
	</ol>


	<h3>Planificación </h3> 
	<ol>
		<li>Tienes establecido un horario fijo para el trabajo en casa.</li>
		<li>Combinas tu tiempo de estudio y de descanso.</li>
		<li>Preparas los exámenes con suficiente tiempo de antelación.</li>
		<li>Siempre cumple el horario de estudio que has establecido.</li>
		<li>Antes de iniciar la sesión de estudio planificas las tareas a realizar.</li>
	</ol>

	<h3>Utilización de técnicas</h3>
	<ol>
		<li>Subrayas las ideas más importantes a medida que estudias.</li>
		<li>Haces esquemas cuando estudias.</li>
		<li>Haces resúmenes para fijar las ideas más importantes.</li>
		<li>Te haces preguntas para recordar lo que acabas de estudiar.</li>
		<li>Solo memorizo algo cuando lo he entendido.</li>
	</ol>

	<h3>A continuación valoras cada uno de los aspectos tratados.</h3>
	<ul>
		<li>Anota 2 puntos por la cruz marcada en Siempre</li>
		<li>Anota 1 punto por la cruz marcada en “A veces”</li>
		<li>Anota 0 puntos por la cruz marcada en “Nunca”</li>
		<li>Puntuación total en “Condiciones Ambientales”</li>
		<li>Puntuación total en “Motivación”</li>
		<li>Puntuación total en “Planificación”</li>
		<li>Puntuación total en “Técnicas”</li>
	</ul>

	<p>Aquellas puntuaciones que quedan por debajo de 5 son aspectos poco favorables para el estudio. Conviene que trabajes sobre ellos. Lo recomendable sería que anotases los aspectos señalados en la columna “Nunca” de cada una de las tablas para corregirlos.</p>
	<p>Anota a continuación las actividades que realizas por las tardes y que tienen un horario fijo(deportes, música, clases de refuerzo etc..)</p>	
	<h3>Completa el siguiente cuadro teniendo en cuenta las actividades anteriormente citadas.</h3>
	<div class="table-responsive">
	<table class="table-striped">
		<tr><th colspan="2"> HORARIO DE ESTUDIO SEMANA NºHORAS</th></tr>
		<tr><td>LUNES</td><td></td></tr>
		<tr><td>MARTES</td><td></td></tr>
		<tr><td>MIÉRCOLES&nbsp;</td><td></td></tr>
		<tr><td>JUEVES</td><td></td></tr>
		<tr><td>VIERNES</td><td></td></tr>
		<tr><td>SÁBADO</td><td></td></tr>
		<tr><td>DOMINGO</td><td></td></tr>
	</table>
	</div>
	

	<h3>Es necesario que hagas una lista de prioridades de la semana.</h3>
		<p>Para estudiar es necesario tener motivos. Completa a continuación los apartados con el fin de identificarlos y crear nuevos motivos para estudiar.</p>
		<ol>
			<li>Completa las tres frases siguientes con distintos motivos por lo que estudias. Estudio porque…</li>
			<li>Has una lista de ventajas que el estudio te puede reportar para desempeñar un oficio o para enfrentarte a la vida de adulto.</li>
			<li>¿Merece la pena el estudio?¿Porqué?</li>
			<li>¿Qué puedes hacer para mejorar tu interés por los estudios?</li>
		</ol>
</div>
</article>