
<div class="jumbotron">
	<div class="row center">
		<h1><%= image_tag('bell.png',size:'50') %>  Avisos </h1>
	</div>
	<div class="row">

		    <ul>
		    	<li><strong>Grupo 1º E.S.O A.</strong> Os recordamos que el viernes 6 de Noviembre es el último día para entregar la autorización para la excursión al teatro. </li>
		    	<li><strong>Grupo 2º E.S.O A.</strong> Os recordamos que durante la clase de Tutoría, la Policia Local nos dará una charla por lo que tenéis que ir a la Biblioteca.</li>
		    	<li><strong>AVISO PARA TUTORES 1º E.S.O.</strong> La reunión semanal se retrasa una hora por temas organizativos. </li>
		    </ul>

  </div>

 </div>