<div class="jumbotron"><br>
<h1><%= image_tag('notebook.png',size:'50') %> Blog Orientad@s</h1>
<br>
<article>
  <header>
    <h1>ESTRATEGIAS Y RECURSOS PARA MOTIVAR A LOS ALUMNOS</h1>
  </header>
  <small>Fuente: <a href="http://ined21.com/estrategias-y-recursos/" target="_blank">ined21.com</a></small>
  <p>A pesar de que mucha gente puede pensar que las tareas del profesor son monótonas y rutinarias, la realidad es muy diferente. Un buen docente debe estar constantemente reinventándose y buscando novedosas formas de impartir sus clases.</p>
  <p>Algo mucho más complejo y difícil de lo que puede parecer a primera vista, ya que en muchas ocasiones las lecciones impartidas pueden resultar un tanto densas y pesadas. En estos casos, hay una serie de técnicas que todo docente puede utilizar para mantener a sus alumnos atentos e interesados con lo que están aprendiendo.</p>

  <h3>¿Qué debemos hacer para mantener el interés en una clase?</h3>
  <p>Cada profesor, asignatura y grupo de estudiante es un mundo aparte, por lo que no es conveniente generalizar e ir impartiendo verdades universales… porque, en el sector de la educación, no existen. Los consejos que damos a continuación son propuestas y reflexiones abiertas a debate, ya que es posible que no siempre consigan su efecto. No obstante, es recomendable tenerlos en cuenta, ya que pueden ayudar a crear una dinámica de clase activa y enriquecedora.</p>

<!--  <h3>Introducir recursos visuales</h3>
  <p>Gracias a los numerosos recursos educativos que podemos encontrar actualmente por Internet, es muy sencillo y accesible introducir elementos audiovisuales en clase que aporten un valor añadido a las lecciones impartidas. Se pueden utilizar, por ejemplo, mapas mentales gratuitos para ilustrar el material de aprendizaje y facilitar al alumno la conexión entre los diferentes conceptos teóricos tratados. Además, también se pueden poner vídeos o audios relacionados con la materia para romper con la monotonía y profundizar los temas tratados.</p>

  <h3>Fomentar el debate y la participación del alumno</h3>
  <p>Durante las clases, es conveniente estar abierto a situaciones imprevistas y no limitarse demasiado por el programa establecido. Es decir, siempre que surjan debates por parte del alumnado relacionados con la materia tratada, debemos fomentarlos y dar alas a todos los estudiantes para que expresen su opinión. Además, si contraponemos sus puntos de vista con ideas contrarias a su forma de pensar podemos conseguir una mayor afluencia de participación. De este modo, la dinámica de la case deja de ser unidireccional y los alumnos pueden sentirse parte del proceso de aprendizaje.</p>

  <h3>Sacar temas de actualidad</h3>
  <p>En ciertas asignaturas, los conceptos teóricos pueden ser demasiado abstractos a alejados de la realidad para los alumnos. Por ejemplo, al hablar de fórmulas matemáticas o de conjunciones gramáticas, el alumno puede dispersar sus pensamientos y perder la atención. Para evitarlo, es conveniente ir sacando puntualmente temas de actualidad relacionados con la materia. Es una forma de relacionar la lección con el día a día y mostrar al alumno cómo le puede beneficiar esas enseñanzas en su vida.</p> -->


    <form>
      <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
        <input id="email" type="text" class="form-control" name="email" placeholder="Email">
      </div>
      <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
        <input id="password" type="password" class="form-control" name="password" placeholder="Password">
      </div>
      <div class="input-group">
        <span class="input-group-addon">Comentario</span>
        <input id="msg" type="text" class="form-control" name="msg" placeholder="Comentario">
      </div>
    </form>

</article>

</div>
